Repository timeplus-io/proton, pull requests merged in 2023-11, with the labels that each got.

#224 Feature/issue 163 replay a stream
  src/Core/Settings.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Processors/ProcessorID.h
  src/Processors/QueryPlan/Streaming/ReplayStreamStep.cpp
  src/Processors/QueryPlan/Streaming/ReplayStreamStep.h
  src/Processors/Streaming/ReplayStreamTransform.cpp
  src/Processors/Streaming/ReplayStreamTransform.h
  tests/stream/test_stream_smoke/0028_replay_stream.yaml
Labels: pr-test

#248 enhancement: add append time smoke test
  tests/stream/test_stream_smoke/0099_fixed_issues.json
Labels: pr-test

#249 support random stream table query
  src/Storages/Streaming/StorageRandom.cpp
  tests/stream/test_stream_smoke/0021_random_stream.json
Labels: pr-test

#277 make random stream eps be query time settings
  src/Core/Settings.h
  src/Storages/Streaming/StorageRandom.cpp
  tests/stream/test_stream_smoke/0021_random_stream.json
Labels: pr-test

#273 feature: kafka external stream partitioning
  src/Core/BlockWithShard.h
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Storages/ExternalStream/ExternalStreamSettings.h
  src/Storages/ExternalStream/Kafka/Kafka.cpp
  src/Storages/ExternalStream/Kafka/Kafka.h
  src/Storages/ExternalStream/Kafka/KafkaSink.cpp
  src/Storages/ExternalStream/Kafka/KafkaSink.h
  src/Storages/ExternalStream/Kafka/WriteBufferFromKafka.cpp
  src/Storages/ExternalStream/Kafka/WriteBufferFromKafka.h
  src/Storages/ExternalStream/StorageExternalStream.cpp
  src/Storages/ExternalStream/StorageExternalStream.h
Labels: feature

#284 Send one message to Kafka per row
  src/Storages/ExternalStream/Kafka/KafkaSink.cpp
  src/Storages/ExternalStream/Kafka/WriteBufferFromKafka.cpp
Labels: external stream, feature

#302 rename generate_eps to eps
  src/Core/Settings.h
  src/Storages/Streaming/StorageRandom.cpp
Labels: pr-test

#305 fix: seek_to on Kafka external stream could cause core dump
  src/Storages/ExternalStream/Kafka/KafkaSource.cpp
Labels: bug, external stream

#309 fix: time-based seek_to does not work with Kafka external streams
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Storages/ExternalStream/StorageExternalStream.h
  src/Storages/IStorage.h
Labels: bug, external stream

#293 Feature/issue 275 streaming asof join timestamp alignment
  build.sh
  src/Core/Block.cpp
  src/Core/Block.h
  src/Core/LightChunk.h
  src/Core/Settings.h
  src/Functions/lagBehind.cpp
  src/Interpreters/CMakeLists.txt
  src/Interpreters/CollectJoinOnKeysVisitor.cpp
  src/Interpreters/CollectJoinOnKeysVisitor.h
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/Streaming/AsofRowRefs.cpp
  src/Interpreters/Streaming/AsofRowRefs.h
  src/Interpreters/Streaming/ConcurrentHashJoin.h
  src/Interpreters/Streaming/HashJoin.cpp
  src/Interpreters/Streaming/HashJoin.h
  src/Interpreters/Streaming/IHashJoin.h
  src/Interpreters/Streaming/JoinStreamDescription.h
  src/Interpreters/Streaming/PageBasedRowRefWithRefCount.h
  src/Interpreters/Streaming/RefCountBlockList.cpp
  src/Interpreters/Streaming/RefCountBlockList.h
  src/Interpreters/Streaming/RefCountDataBlock.h
  src/Interpreters/Streaming/RefCountDataBlockPage.cpp
  src/Interpreters/Streaming/RefCountDataBlockPage.h
  src/Interpreters/Streaming/RefCountDataBlockPages.cpp
  src/Interpreters/Streaming/RefCountDataBlockPages.h
  src/Interpreters/Streaming/RowRefs.cpp
  src/Interpreters/Streaming/RowRefs.h
  src/Interpreters/Streaming/SortedLookupContainer.h
  src/Interpreters/Streaming/joinSerder_fwd.h
  src/Interpreters/TableJoin.cpp
  src/Interpreters/TableJoin.h
  src/Interpreters/TranslateQualifiedNamesVisitor.cpp
  src/Interpreters/TreeRewriter.cpp
  src/Interpreters/benchmarks/CMakeLists.txt
  src/Interpreters/benchmarks/vector_deque_perf.cpp
  src/Interpreters/tests/gtest_asof_row_refs.cpp
  src/Interpreters/tests/gtest_streaming_hash_join.cpp
  src/Processors/ProcessorID.h
  src/Processors/QueryPlan/Streaming/JoinStep.cpp
  src/Processors/QueryPlan/Streaming/JoinStep.h
  src/Processors/Transforms/Streaming/JoinTransformWithAlignment.cpp
  src/Processors/Transforms/Streaming/JoinTransformWithAlignment.h
  src/QueryPipeline/QueryPipelineBuilder.cpp
  src/QueryPipeline/QueryPipelineBuilder.h
  src/Storages/Streaming/StorageRandom.cpp
  src/Storages/Streaming/StorageRandom.h
  tests/stream/test_stream_smoke/0013_changelogstream_join_table4.json
Labels: enhancement

#322 feat: support sending one message to Kafka per row.
  src/Storages/ExternalStream/ExternalStreamSettings.h
  src/Storages/ExternalStream/Kafka/Kafka.h
  src/Storages/ExternalStream/Kafka/KafkaSink.cpp
  src/Storages/ExternalStream/Kafka/WriteBufferFromKafka.cpp
Labels: enhancement, external stream, community

#352 feat: support configuring message.max.bytes for kafka external streams
  src/Storages/ExternalStream/Kafka/KafkaSink.cpp
Labels: external stream, feature

#351 fix: cannot load kafka external streams created before sharding_expr feature
  src/Interpreters/InterpreterCreateQuery.cpp
  src/Storages/ExternalStream/Kafka/Kafka.cpp
  src/Storages/ExternalStream/Kafka/Kafka.h
  src/Storages/ExternalStream/Kafka/KafkaSink.cpp
  src/Storages/ExternalStream/Kafka/KafkaSink.h
  src/Storages/ExternalStream/StorageExternalStream.cpp
  src/Storages/ExternalStream/StorageExternalStream.h
Labels: bug, external stream
