Repository timeplus-io/proton, pull requests merged in 2023-10, with the labels that each got.

#104 enhancement/enhance random stream
  src/Storages/Streaming/StorageRandom.cpp
  src/Storages/Streaming/StorageRandom.h
  tests/stream/test_stream_smoke/0021_random_stream.json
Labels: pr-test

#138 add changelog stream join table(changelogs) smoke test
  tests/stream/test_stream_smoke/0013_changelogstream_join_table1.json
  tests/stream/test_stream_smoke/0013_changelogstream_join_table2.json
  tests/stream/test_stream_smoke/0013_changelogstream_join_table3.json
  tests/stream/test_stream_smoke/0013_changelogstream_join_table4.json
  tests/stream/test_stream_smoke/0013_changelogstream_join_table5.json
  tests/stream/test_stream_smoke/0014_versioned_kv_join.json
Labels: pr-test

#176 Bugfix/issue-174 disable append-only stream left all join append-only stream
  src/Interpreters/Streaming/HashJoin.cpp
  src/Interpreters/tests/gtest_streaming_hash_join.cpp
  tests/stream/test_stream_smoke/0009_stream_join_stream_case.json
  tests/stream/test_stream_smoke/0009_stream_join_stream_case1.json
  tests/stream/test_stream_smoke/0009_stream_join_stream_case2.json
  tests/stream/test_stream_smoke/0018_query_state12_streaming_join.json
  tests/stream/test_stream_smoke/0020_seek_to.json
Labels: pr-test

#188 add changelog processing smoke tests
  tests/stream/test_stream_smoke/0013_changelog_stream1.json
  tests/stream/test_stream_smoke/0013_changelog_stream2.json
  tests/stream/test_stream_smoke/0013_changelog_stream3.json
  tests/stream/test_stream_smoke/0013_changelogstream_join_table1.json
  tests/stream/test_stream_smoke/0013_changelogstream_join_table2.json
  tests/stream/test_stream_smoke/0013_changelogstream_join_table3.json
  tests/stream/test_stream_smoke/0013_changelogstream_join_table4.json
  tests/stream/test_stream_smoke/0013_changelogstream_join_table5.json
Labels: pr-test

#180 feat: using kafka external streams as sinks.
  src/Common/ErrorCodes.cpp
  src/Interpreters/InterpreterInsertQuery.cpp
  src/KafkaLog/KafkaWALCommon.cpp
  src/KafkaLog/KafkaWALCommon.h
  src/KafkaLog/KafkaWALPool.cpp
  src/Storages/ExternalStream/ExternalStreamSettings.h
  src/Storages/ExternalStream/Kafka/Kafka.cpp
  src/Storages/ExternalStream/Kafka/Kafka.h
  src/Storages/ExternalStream/Kafka/KafkaSink.cpp
  src/Storages/ExternalStream/Kafka/KafkaSink.h
  src/Storages/ExternalStream/Kafka/WriteBufferFromKafka.cpp
  src/Storages/ExternalStream/Kafka/WriteBufferFromKafka.h
  src/Storages/ExternalStream/Log/FileLog.cpp
  src/Storages/ExternalStream/StorageExternalStream.cpp
  src/Storages/ExternalStream/StorageExternalStream.h
  src/Storages/ExternalStream/StorageExternalStreamImpl.h
  src/Storages/IStorage.h
  src/Storages/Streaming/StorageMaterializedView.cpp
  src/Storages/Streaming/StreamSink.cpp
Labels: external stream, feature

#196 Added UT for `parseProperties`.
  src/KafkaLog/KafkaWALCommon.h
  src/KafkaLog/KafkaWALProperties.cpp
  src/KafkaLog/KafkaWALProperties.h
  src/KafkaLog/tests/gtest_parse_properties.cpp
  src/Storages/ExternalStream/Kafka/Kafka.cpp
  src/Storages/ExternalStream/Kafka/Kafka.h
  src/Storages/IStorage.h
Labels: test, pr-test, external stream

#206 feat: Kafka external streams read from specific partitions
  src/Core/Settings.h
  src/KafkaLog/KafkaWAL.cpp
  src/KafkaLog/KafkaWAL.h
  src/KafkaLog/KafkaWALCommon.cpp
  src/KafkaLog/KafkaWALCommon.h
  src/KafkaLog/KafkaWALContext.h
  src/KafkaLog/KafkaWALPool.cpp
  src/KafkaLog/KafkaWALProperties.cpp
  src/KafkaLog/KafkaWALSimpleConsumer.cpp
  src/KafkaLog/KafkaWALSimpleConsumer.h
  src/KafkaLog/tests/gtest_parse_properties.cpp
  src/Storages/ExternalStream/Kafka/Kafka.cpp
  src/Storages/ExternalStream/Kafka/Kafka.h
  src/Storages/ExternalStream/Kafka/KafkaSource.cpp
  src/Storages/ExternalStream/Kafka/KafkaSource.h
  src/Storages/Streaming/SeekToInfo.cpp
  src/Storages/Streaming/StreamingStoreSource.cpp
  src/Storages/Streaming/StreamingStoreSource.h
Labels: external stream, feature

#233 fix: cannot create MV with kafka external stream
  src/Storages/ExternalStream/Kafka/KafkaSource.cpp
Labels: bug
