Repository timeplus-io/proton, pull requests merged in 2024-02, with the labels that each got.

#534 feature: [External Stream] Format settings declared on creation time should be taken into account
  src/Storages/ExternalStream/ExternalStreamSettings.h
  src/Storages/ExternalStream/StorageExternalStreamImpl.h
  src/Storages/ExternalStream/tests/gtest_settings.cpp
Labels: enhancement

#550 enhancement: input_format_skip_unknown_fields default to true for external streams
  src/Storages/ExternalStream/StorageExternalStreamImpl.h
Labels: enhancement, external stream

#555 corrected the typos and added the manual check in python script
  tests/stream/helpers/rockets.py
  tests/stream/test_stream_smoke/0005_streaming_only_case.json
  tests/stream/test_stream_smoke/0009_stream_join_stream_case2.json
  tests/stream/test_stream_smoke/0013_changelogstream_join_table1.json
  tests/stream/test_stream_smoke/0013_changelogstream_join_table2.json
  tests/stream/test_stream_smoke/0013_changelogstream_join_table3.json
  tests/stream/test_stream_smoke/0013_changelogstream_join_table4.json
  tests/stream/test_stream_smoke/0013_changelogstream_join_table5.json
  tests/stream/test_stream_smoke/0014_versioned_kv_join.json
  tests/stream/test_stream_smoke/0018_query_state12_streaming_join.json
  tests/stream/test_stream_smoke/0018_query_state13_table_func_changelog.json
  tests/stream/test_stream_smoke/0018_query_state8_join.json
Labels: pr-test

#568 enhancement: support comment for create external table
  src/Parsers/ParserCreateExternalTableQuery.cpp
  src/Storages/ExternalTable/StorageExternalTable.cpp
  src/Storages/ExternalTable/StorageExternalTable.h
Labels: enhancement, external table

#566 bugfix: comment on ExternalStream was not showed in system.tables
  src/Storages/ExternalStream/StorageExternalStream.cpp
  src/Storages/ExternalStream/StorageExternalStream.h
Labels: bug, external stream

#579 feature: support kafka schema registry for Protobuf and Avro.
  build.sh
  docker/packager/packager
  src/Core/Settings.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSchemaFactory.cpp
  src/Formats/FormatSettings.h
  src/Formats/KafkaSchemaRegistry.cpp
  src/Formats/KafkaSchemaRegistry.h
  src/Formats/ProtobufSchemas.cpp
  src/Formats/ProtobufSchemas.h
  src/KafkaLog/KafkaWALSettings.h
  src/Processors/Formats/ISchemaWriter.h
  src/Processors/Formats/Impl/AvroRowInputFormat.cpp
  src/Processors/Formats/Impl/AvroRowInputFormat.h
  src/Processors/Formats/Impl/ProtobufRowInputFormat.cpp
  src/Processors/Formats/Impl/ProtobufRowInputFormat.h
  tests/stream/test_stream_smoke/0033_format_schema.yaml
Labels: external stream, feature

#583 bugfix: list streams API crashes on external tables
  src/Server/RestRouterHandlers/TableRestRouterHandler.cpp
Labels: bug, external table

#584 feature: support more secure settings for HTTPS for schema registry
  src/Core/Settings.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatSettings.h
  src/Formats/KafkaSchemaRegistry.cpp
  src/Formats/KafkaSchemaRegistry.h
  src/IO/HTTPCommon.cpp
  src/IO/HTTPCommon.h
  src/Processors/Formats/Impl/AvroRowInputFormat.cpp
  src/Processors/Formats/Impl/ProtobufRowInputFormat.cpp
Labels: external stream, feature

#585 bugfix: kafka schema registry URI was not properly constructed
  src/Formats/KafkaSchemaRegistry.cpp
Labels: bug, external stream
