Repository timeplus-io/proton, pull requests merged in 2024-01, with the labels that each got.

#455 fix: Kafka external stream virtual columns
  src/Storages/ExternalStream/Kafka/Kafka.cpp
  src/Storages/ExternalStream/Kafka/KafkaSource.cpp
  src/Storages/ExternalStream/Kafka/KafkaSource.h
Labels: bug, external stream

#454 feat: Kafka external streams support SCRAM-SHA-256/512
  src/KafkaLog/KafkaWAL.cpp
  src/KafkaLog/KafkaWALConsumer.cpp
  src/KafkaLog/KafkaWALPool.h
  src/KafkaLog/KafkaWALSettings.h
  src/KafkaLog/KafkaWALSimpleConsumer.cpp
  src/Storages/ExternalStream/ExternalStreamSettings.h
  src/Storages/ExternalStream/Kafka/Kafka.cpp
  src/Storages/ExternalStream/Kafka/Kafka.h
  src/Storages/ExternalStream/Kafka/KafkaSink.cpp
  src/Storages/ExternalStream/Kafka/KafkaSource.cpp
Labels: enhancement, external stream

#451 add coinbase sample
  examples/coinbase/Makefile
  examples/coinbase/README.md
  examples/coinbase/ddl.sql
  examples/coinbase/docker-compose.yml
  examples/coinbase/pipeline.yaml
Labels: documentation

#436 enhancement: properly produce raw format data to Kafka external streams
  src/Storages/ExternalStream/Kafka/Kafka.cpp
  src/Storages/ExternalStream/Kafka/KafkaSink.cpp
  src/Storages/ExternalStream/Kafka/KafkaSource.cpp
  src/Storages/ExternalStream/Kafka/KafkaSource.h
Labels: enhancement, external stream

#434 feat: support message key for Kafka external stream
  src/KafkaLog/KafkaWALCommon.cpp
  src/KafkaLog/KafkaWALCommon.h
  src/Storages/ExternalStream/ExternalStreamSettings.h
  src/Storages/ExternalStream/Kafka/Kafka.cpp
  src/Storages/ExternalStream/Kafka/Kafka.h
  src/Storages/ExternalStream/Kafka/KafkaSink.cpp
  src/Storages/ExternalStream/Kafka/KafkaSink.h
  src/Storages/ExternalStream/Kafka/WriteBufferFromKafka.cpp
  src/Storages/ExternalStream/Kafka/WriteBufferFromKafka.h
  src/Storages/ExternalStream/Kafka/WriteBufferFromKafkaSink.h
  src/Storages/ExternalStream/StorageExternalStream.cpp
Labels: enhancement, external stream, feature

#484 Feature/issue 481 group_uniq_array function supports changelog
  src/AggregateFunctions/Streaming/AggregateFunctionGroupUniqArrayReract.cpp
  src/AggregateFunctions/Streaming/AggregateFunctionGroupUniqArrayRetract.h
  src/AggregateFunctions/Streaming/CountedValueHashMap.h
  src/AggregateFunctions/registerAggregateFunctions.cpp
  src/Interpreters/ExpressionAnalyzer.cpp
  src/Interpreters/Streaming/SubstituteStreamingFunction.cpp
  tests/stream/test_stream_smoke/0013_changelog_stream14.yaml
Labels: feature

#511 update init process for coinbase demo
  examples/awesome-sensor-logger/README.md
  examples/awesome-sensor-logger/docker-compose.yml
  examples/awesome-sensor-logger/init_sql/init.sql
  examples/coinbase/Makefile
  examples/coinbase/README.md
  examples/coinbase/docker-compose.yml
  examples/coinbase/initdb.d/init.sql
  examples/coinbase/pipeline/pipeline.json
  examples/coinbase/pipeline/pipeline.yaml
  examples/hackernews/compose.yaml
  examples/hackernews/init_sql/init.sql
Labels: enhancement

#513 bugfix: handle format errors in KafkaSource
  src/Formats/ProtobufReader.cpp
  src/Formats/ProtobufReader.h
  src/Storages/ExternalStream/Kafka/KafkaSource.cpp
  src/Storages/ExternalStream/Kafka/KafkaSource.h
Labels: bug
