Repository timeplus-io/proton, pull requests merged in 2024-03, with the labels that each got.

#594 streaming processing supports nullable datatype
  src/Common/HashTable/TimeBucketHashMap.h
  src/Common/HashTable/TimeBucketHashTable.h
  src/DataTypes/Serializations/SerializationNullable.cpp
  src/Interpreters/Streaming/Aggregator.cpp
  src/Interpreters/Streaming/Aggregator.h
  tests/queries_ported/0_stateless/00395_nullable.reference
  tests/queries_ported/0_stateless/00395_nullable.sql
Labels: enhancement

#618 Feature/kafka properties for source
  src/KafkaLog/KafkaWALCommon.cpp
  src/KafkaLog/KafkaWALCommon.h
  src/KafkaLog/KafkaWALPool.cpp
  src/KafkaLog/KafkaWALPool.h
  src/KafkaLog/KafkaWALProperties.cpp
  src/KafkaLog/KafkaWALProperties.h
  src/KafkaLog/KafkaWALSettings.h
  src/KafkaLog/tests/gtest_parse_properties.cpp
  src/Storages/ExternalStream/ExternalStreamSettings.h
  src/Storages/ExternalStream/Kafka/Consumer.cpp
  src/Storages/ExternalStream/Kafka/Consumer.h
  src/Storages/ExternalStream/Kafka/ConsumerPool.h
  src/Storages/ExternalStream/Kafka/Kafka.cpp
  src/Storages/ExternalStream/Kafka/Kafka.h
  src/Storages/ExternalStream/Kafka/KafkaSink.cpp
  src/Storages/ExternalStream/Kafka/KafkaSink.h
  src/Storages/ExternalStream/Kafka/KafkaSource.cpp
  src/Storages/ExternalStream/Kafka/KafkaSource.h
  src/Storages/ExternalStream/Kafka/Producer.cpp
  src/Storages/ExternalStream/Kafka/Producer.h
  src/Storages/ExternalStream/Kafka/Topic.cpp
  src/Storages/ExternalStream/Kafka/Topic.h
  src/Storages/ExternalStream/StorageExternalStreamImpl.h
Labels: enhancement, external stream

#624 bugfix: properly quote CH table name for SELECT queries.
  src/ClickHouse/Source.cpp
Labels: bug, external table

#625 feature: select message key from kafka external stream
  src/Storages/ExternalStream/Kafka/Kafka.cpp
  src/Storages/ExternalStream/Kafka/Kafka.h
  src/Storages/ExternalStream/Kafka/KafkaSource.cpp
Labels: enhancement, external stream
