Repository timeplus-io/proton, pull requests merged in 2024-04, with the labels that each got.

#635 feat: new SSL related kafka external stream settings
  src/Storages/ExternalStream/ExternalStreamSettings.h
  src/Storages/ExternalStream/Kafka/Kafka.cpp
  src/Storages/ExternalStream/Kafka/Kafka.h
  src/Storages/ExternalStream/Log/FileLog.cpp
  src/Storages/ExternalStream/Log/FileLog.h
  src/Storages/ExternalStream/StorageExternalStream.cpp
  src/Storages/ExternalStream/StorageExternalStream.h
  src/Storages/ExternalStream/StorageExternalStreamImpl.cpp
  src/Storages/ExternalStream/StorageExternalStreamImpl.h
Labels: enhancement, external stream

#640 enhancement: more and better logs for kafka external stream
  src/Storages/ExternalStream/Kafka/Consumer.cpp
  src/Storages/ExternalStream/Kafka/Consumer.h
  src/Storages/ExternalStream/Kafka/ConsumerPool.h
  src/Storages/ExternalStream/Kafka/Kafka.cpp
  src/Storages/ExternalStream/Kafka/Kafka.h
  src/Storages/ExternalStream/Kafka/KafkaSink.cpp
  src/Storages/ExternalStream/Kafka/KafkaSource.cpp
  src/Storages/ExternalStream/Kafka/KafkaSource.h
  src/Storages/ExternalStream/Kafka/Producer.cpp
  src/Storages/ExternalStream/Kafka/Producer.h
Labels: enhancement, external stream

#643 Kafka consumer pool waits for all consumers being freed before being destroyed
  src/Common/ErrorCodes.cpp
  src/Common/PoolBase.h
  src/Storages/ExternalStream/Kafka/ConsumerPool.h
  src/Storages/ExternalStream/Kafka/Kafka.h
Labels: external stream

#645 Shutdown Kafka consumers and producer when the external stream is stopped
  src/Common/ErrorCodes.cpp
  src/Common/PoolBase.h
  src/Storages/ExternalStream/Kafka/Consumer.cpp
  src/Storages/ExternalStream/Kafka/Consumer.h
  src/Storages/ExternalStream/Kafka/ConsumerPool.h
  src/Storages/ExternalStream/Kafka/Kafka.cpp
  src/Storages/ExternalStream/Kafka/Kafka.h
  src/Storages/ExternalStream/Kafka/KafkaSink.cpp
  src/Storages/ExternalStream/Kafka/KafkaSink.h
  src/Storages/ExternalStream/Kafka/Producer.h
  src/Storages/ExternalStream/StorageExternalStreamImpl.cpp
Labels: external stream

#658 feat: add a `1brc` demo using Proton to the examples
  examples/README.md
  examples/onebrc/1brc.sql
  examples/onebrc/README.md
Labels: 🙋 Bounty claim, 💰 Rewarded

#671 fix incorrect p90/p95/p99
  src/AggregateFunctions/AggregateFunctionQuantile.h
  tests/queries_ported/0_stateless/99002_function_quantile.reference
  tests/queries_ported/0_stateless/99002_function_quantile.sql
Labels: bug
