Repository timeplus-io/proton, pull requests merged in 2024-06, with the labels that each got.

#757 fix: Kafka external stream parseFormat crash
  src/Storages/ExternalStream/Kafka/KafkaSource.cpp
  src/Storages/ExternalStream/Kafka/KafkaSource.h
Labels: bug, external stream

#761 feat: break down big messages for Kafka sink
  src/Core/Settings.h
  src/IO/WriteBuffer.h
  src/Storages/ExternalStream/ExternalStreamCounter.h
  src/Storages/ExternalStream/Kafka/KafkaSink.cpp
  src/Storages/ExternalStream/Kafka/KafkaSink.h
  src/Storages/ExternalStream/Kafka/WriteBufferFromKafkaSink.h
Labels: enhancement, external stream

#726 fix quantile_exact parameter error
  src/Interpreters/ExpressionAnalyzer.cpp
  tests/queries_ported/0_stateless/99002_function_quantile.reference
  tests/queries_ported/0_stateless/99002_function_quantile.sql
Labels: bug

#771 Bugfix/issue-770-log-stream-analysis
  src/Storages/ExternalStream/BreakLines.cpp
  src/Storages/ExternalStream/Log/FileLog.cpp
  src/Storages/ExternalStream/Log/FileLog.h
  src/Storages/ExternalStream/tests/gtest_linebreaker.cpp
Labels: pr-test

#778 pin the proton image version for those case where init sql script nee…
  examples/awesome-sensor-logger/docker-compose.yml
  examples/coinbase/docker-compose.yml
  examples/hackernews/compose.yaml
Labels: bug

#780 bugfix: invalid Protobuf schema could crash proton-client
  src/Formats/ProtobufSerializer.cpp
Labels: bug

#767 bugfix: select from table external stream gets stuck if a topic contains invalid data
  src/Storages/ExternalStream/Kafka/KafkaSource.cpp
Labels: bug, external stream
