Repository timeplus-io/proton, pull requests merged in 2024-05, with the labels that each got.

#683 buffix: check create_directories error properly
  src/Storages/ExternalStream/StorageExternalStreamImpl.cpp
Labels: bug, external stream

#677 bugfix: possible double-free error when KafkaSink frees message payload.
  src/Storages/ExternalStream/Kafka/KafkaSink.cpp
  src/Storages/ExternalStream/Kafka/KafkaSink.h
Labels: bug, external stream

#666 Simplified consumer management for Kafka external stream
  programs/server/config.yaml.example
  src/Storages/ExternalStream/Kafka/Consumer.cpp
  src/Storages/ExternalStream/Kafka/Consumer.h
  src/Storages/ExternalStream/Kafka/Kafka.cpp
  src/Storages/ExternalStream/Kafka/Kafka.h
  src/Storages/ExternalStream/Kafka/KafkaSource.cpp
  src/Storages/ExternalStream/Kafka/KafkaSource.h
  src/Storages/ExternalStream/Kafka/Producer.cpp
  src/Storages/ExternalStream/Kafka/Producer.h
Labels: bug, enhancement, external stream

#687 cherry-pick: Do not warn about kvm-clock
  programs/server/Server.cpp
Labels: bug

#698 bugfix: KafkaSource deconstructor should not throw exceptions
  src/Storages/ExternalStream/Kafka/KafkaSource.cpp
Labels: bug

#690 replay function supports specified column
  src/Core/Settings.h
  src/Interpreters/InterpreterSelectQuery.cpp
  src/Interpreters/InterpreterSelectQuery.h
  src/Processors/QueryPlan/Streaming/ReplayStreamStep.cpp
  src/Processors/QueryPlan/Streaming/ReplayStreamStep.h
  src/Processors/Streaming/ReplayStreamTransform.cpp
  src/Processors/Streaming/ReplayStreamTransform.h
  tests/stream/test_stream_smoke/0028_replay_stream.yaml
Labels: enhancement

#732 bugfix: table function was not working on kafka external stream
  src/Storages/ExternalStream/Kafka/Kafka.cpp
  src/Storages/ExternalStream/Kafka/Kafka.h
  src/Storages/ExternalStream/Kafka/KafkaSource.cpp
  src/Storages/ExternalStream/Kafka/KafkaSource.h
  src/Storages/ExternalStream/Kafka/Topic.cpp
  src/Storages/ExternalStream/Kafka/Topic.h
  src/Storages/ExternalStream/StorageExternalStream.cpp
  src/Storages/ExternalStream/StorageExternalStream.h
  src/Storages/ExternalStream/StorageExternalStreamImpl.h
  src/Storages/Streaming/ProxyStream.h
  src/Storages/Streaming/SeekToInfo.cpp
Labels: bug, external stream

#744 bugfix: window functions didn't work with Kafka external streams
  src/Storages/ExternalStream/Kafka/Kafka.cpp
  src/Storages/ExternalStream/Kafka/KafkaSource.cpp
Labels: bug, external stream

#741 feat: support Avro format schema
  src/Formats/FormatSchemaInfo.cpp
  src/Processors/Formats/Impl/AvroRowInputFormat.cpp
  src/Processors/Formats/Impl/AvroRowInputFormat.h
  tests/stream/test_stream_smoke/0033_format_schema.yaml
Labels: enhancement, external stream

#748 some Kafka external stream small fixes
  src/Storages/ExternalStream/Kafka/Consumer.cpp
  src/Storages/ExternalStream/Kafka/Consumer.h
  src/Storages/ExternalStream/Kafka/KafkaSource.cpp
  src/Storages/ExternalStream/Kafka/KafkaSource.h
Labels: bug, enhancement, external stream
