Repository timeplus-io/proton, pull requests merged in 2025-03, with the labels that each got.

#907 allowing tuple datatype for the 1st param of array_map
  src/Functions/array/FunctionArrayMapped.h
  tests/queries/0_stateless/02735_array_map_array_of_tuples.reference
  tests/queries/0_stateless/02735_array_map_array_of_tuples.sql
  tests/queries_ported/0_stateless/02735_array_map_array_of_tuples.reference
  tests/queries_ported/0_stateless/02735_array_map_array_of_tuples.sql
Labels: pr-test

#902 support group array last
  src/AggregateFunctions/AggregateFunctionGroupArray.cpp
  src/AggregateFunctions/AggregateFunctionGroupArray.h
  src/DataTypes/DataTypeCustomSimpleAggregateFunction.cpp
  src/Interpreters/ExpressionAnalyzer.cpp
  tests/queries_ported/0_stateless/02520_group_array_last.reference
  tests/queries_ported/0_stateless/02520_group_array_last.sql
  tests/queries_ported/0_stateless/99039_group_array_additional_arg_for_max_elem.reference
  tests/queries_ported/0_stateless/99039_group_array_additional_arg_for_max_elem.sql
Labels: pr-test

#919 feat: support format_schema for Avro format.
  src/CMakeLists.txt
  src/Common/ErrorCodes.cpp
  src/Common/Exception.h
  src/Formats/Avro/DataFileWriter.cpp
  src/Formats/Avro/DataFileWriter.h
  src/Formats/Avro/InputStreamReadBufferAdapter.h
  src/Formats/Avro/OutputStreamWriteBufferAdapter.h
  src/Formats/Avro/Schemas.cpp
  src/Formats/Avro/Schemas.h
  src/Formats/FormatFactory.cpp
  src/Formats/FormatFactory.h
  src/Formats/FormatSchemaFactory.cpp
  src/Formats/FormatSchemaFactory.h
  src/Formats/KafkaSchemaRegistry.cpp
  src/Formats/KafkaSchemaRegistry.h
  src/Formats/KafkaSchemaRegistryForAvro.cpp
  src/Formats/KafkaSchemaRegistryForAvro.h
  src/Processors/Formats/ISchemaWriter.h
  src/Processors/Formats/Impl/AvroConfluentRowOutputFormat.cpp
  src/Processors/Formats/Impl/AvroConfluentRowOutputFormat.h
  src/Processors/Formats/Impl/AvroRowInputFormat.cpp
  src/Processors/Formats/Impl/AvroRowInputFormat.h
  src/Processors/Formats/Impl/AvroRowOutputFormat.cpp
  src/Processors/Formats/Impl/AvroRowOutputFormat.h
  src/Processors/Formats/Impl/ProtobufRowInputFormat.cpp
  src/Processors/Formats/Impl/ProtobufRowInputFormat.h
Labels: external-streams, data format

#925 bugfix: AWS SDK was not included even when ENABLE_AWS_MSK_IAM is ON
  contrib/aws-cmake/CMakeLists.txt
Labels: bug, build
